@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.Typewriter__wrapper {
  font-size: 40px;
  text-align: center;
}

.Typewriter__cursor {
  font-size: 40px;
}
